In [1]:
!pip install pymysql

Requirement already satisfied: pymysql in d:\anaconda\envs\ganniartha\lib\site-packages (1.1.1)

In [2]:
import pymysql

conn = pymysql.connect(
    host='localhost',
    user='root',
    database='northwind'
)
cursor = conn.cursor()
cursor.execute("SHOW TABLES;")
for table in cursor.fetchall():
    print(table)
cursor.close()
conn.close()

('category',)
('custcustdemographics',)
('customer',)
('customerdemographics',)
('employee',)
('employeeterritory',)
('orderdetail',)
('product',)
('region',)
('salesorder',)
('shipper',)
('supplier',)
('territory',)

In [3]:
!pip install openpyxl
!pip install sqlalchemy
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost/northwind')

df_orders = pd.read_sql('SELECT * FROM salesorder', con=engine)

print(df_orders.head())

Requirement already satisfied: openpyxl in d:\anaconda\envs\ganniartha\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in d:\anaconda\envs\ganniartha\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: sqlalchemy in d:\anaconda\envs\ganniartha\lib\site-packages (2.0.40)
Requirement already satisfied: greenlet>=1 in d:\anaconda\envs\ganniartha\lib\site-packages (from sqlalchemy) (3.2.1)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\anaconda\envs\ganniartha\lib\site-packages (from sqlalchemy) (4.12.2)
   orderId  custId  employeeId  orderDate requiredDate shippedDate  shipperid  \
0    10248      85           5 2006-07-04   2006-08-01  2006-07-16          3
1    10249      79           6 2006-07-05   2006-08-16  2006-07-10          1
2    10250      34           4 2006-07-08   2006-08-05  2006-07-12          2
3    10251      84           3 2006-07-08   2006-08-05  2006-07-15          1
4    10252      76           4 2006-07-09   2006-08-06  2006-07-11          2

   freight           shipName            shipAddress        shipCity  \
0    32.38       Ship to 85-B   6789 rue de l'Abbaye           Reims
1    11.61       Ship to 79-C        Luisenstr. 9012         Münster
2    65.83  Destination SCQXA      Rua do Paço, 7890  Rio de Janeiro
3    41.34       Ship to 84-A  3456, rue du Commerce            Lyon
4    51.30       Ship to 76-B  Boulevard Tirou, 9012       Charleroi

  shipRegion shipPostalCode shipCountry
0       None          10345      France
1       None          10328     Germany
2         RJ          10195      Brazil
3       None          10342      France
4       None          10318     Belgium

In [4]:
df_orders.to_excel('SalesOrder.xlsx', index=False)

In [5]:
df = pd.read_excel('SalesOrder.xlsx')

df['orderDate'] = pd.to_datetime(df['orderDate'])

print("Jumlah Customer Yang Order:", df['custId'].nunique())

Jumlah Customer Yang Order: 89

In [6]:
df = pd.read_excel('SalesOrder.xlsx')

df['orderDate'] = pd.to_datetime(df['orderDate'])

print("Siapakah Customer Yang Paling Sering Order:", df['custId'].value_counts().idxmax(), "dengan", df['custId'].value_counts().max(), "order")

Siapakah Customer Yang Paling Sering Order: 71 dengan 31 order

In [7]:
df = pd.read_excel('SalesOrder.xlsx')

df['orderDate'] = pd.to_datetime(df['orderDate'])

print("\nTotal Order Tiap Customer:\n", df['custId'].value_counts())

Total Order Tiap Customer:
 custId
71    31
20    30
63    28
37    19
24    19
      ..
53     3
26     3
33     2
43     2
13     1
Name: count, Length: 89, dtype: int64

In [8]:
print("\nBerapakah Jumlah Order Tiap Bulan:\n", df['orderDate'].dt.to_period('M').value_counts().sort_index())

Berapakah Jumlah Order Tiap Bulan:
 orderDate
2006-07    22
2006-08    25
2006-09    23
2006-10    26
2006-11    25
2006-12    31
2007-01    33
2007-02    29
2007-03    30
2007-04    31
2007-05    32
2007-06    30
2007-07    33
2007-08    33
2007-09    37
2007-10    38
2007-11    34
2007-12    48
2008-01    55
2008-02    54
2008-03    73
2008-04    74
2008-05    14
Freq: M, Name: count, dtype: int64

In [9]:
print("\nBulan Berapakah yang memiliki Order Tertinggi:", df['orderDate'].dt.to_period('M').value_counts().idxmax(), "dengan", df['orderDate'].dt.to_period('M').value_counts().max(), "order")

Bulan Berapakah yang memiliki Order Tertinggi: 2008-04 dengan 74 order